#map {
    height: 368px;
    width: 90%;
}

#h1_page_title {
    color: #8A2BE2;
    font-family: "Lucida Handwriting", Times, serif;
    font-size: 250%;
}

#file_label {
    color: brown;
    font-family: "Arial Black";
}

#file {
    color: darkblue;
    background-color: burlywood;
}

#card {
    background-color: aqua;
}

.button {
    border-color: gold;
    background-color: cornflowerblue;
}